<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.first_name %>,</h1>
    <p>
      You asked to reset your password, either because you forgot it or because you just wanted a new one.
      <br />
      <small>(We make you jump through a couple of hoops, but it's worth it for the additional security of your account.)</small>
    </p>
    <p>
      To apply the new password, simply click <%= link_to 'here', @url %>
    </p>
    <p>Sincerely,</p>
    <p>The Report It! team</p>
  </body>
</html>