<div ng-controller='SnippetsController'>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      Snippets
    </div>
    <div class='panel-body'>
      <div class='alert alert-info small-text'>
        Snippets are shortcuts. You can use them when writing you reports to add common, boilerplate stuff.
      </div>
      <div ng-class='resultClasses()' ng-show='hasResult()'>
        <button class="close" ng-click='resetResult()'>×</button>
        <ul>
          <li ng-repeat='message in getMessages()'>{{ message }}</li>
        </ul>
      </div>
      <ul class='list-group'>
        <li class='list-group-item' ng-hide='snippets.length > 0'>You have not created any snippets yet.</li>
        <li ng-repeat='snippet in snippets | orderBy:name:false' class='list-group-item'>
          <a href='' tooltip="snippet.content" tooltip-title='Snippet Preview'>{{ snippet.name }}</a>
          <div class='pull-right'>
            <a href='' ng-click='edit($index)' title='Edit this snippet' ng-disabled='deleting($index) || adding' ng-hide='editing($index)' class='btn btn-default'>Edit</a>
            <a href='' ng-click='destroy($index)' title='Delete this snippet' ng-disabled='deleting($index) || adding' ng-hide='editing($index)' class='btn btn-danger'>Delete</a>
          </div>
          <div class='clearfix'></div>
          <div ng-show='editing($index)' class='spacer5'>
            <div class='panel panel-default'>
              <div class='panel-heading'>Edit Snippet: {{ snippet.name }}
                <button type="button" class="close" aria-hidden="true" ng-click='cancelEditing($index)', title='Cancel editing'>&times;</button>
              </div>
              <div class='panel-body'>
                <div class='form-group'>
                  <input type='text' name='snippet_name' id='name' placeholder='Name' ng-model='snippet.name' class='form-control' />
                </div>
                <div class='form-group'>
                  <textarea type='text' name='snippet_content' id='content' placeholder='Content' ng-model='snippet.content' redactor options='redactorOptions' class='form-control'></textarea>
                </div>
                <div class='form-group'>
                  <a href='' ng-click='update($index)' ng-disabled='!snippetIsValid($index)' class='btn btn-success btn-xs' title='Updae this Snippet'>Update</a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div ng-show='adding'>
        <div class='panel panel-default'>
          <div class='panel-heading'>Create a Snippet
            <button type="button" class="close" aria-hidden="true" ng-click='stopAdd()', title='Cancel add'>&times;</button>
          </div>
          <div class='panel-body'>
            <div class='form-group'>
              <input type='text' name='name' id='name' placeholder='Snippet name' ng-model='snippetName' required class='form-control' />
            </div>
            <div class='form-group'>
              <textarea name='content' id='content' placeholder='Snippet content' ng-model='snippetContent' required redactor options='redactorOptions' class='form-control'></textarea>
            </div>
            <div class='form-group'>
              <div class='pull-right'>
                <a href='' ng-click='create()' ng-disabled='!newSnippetIsValid()' class='btn btn-success btn-xs' title='Create this Snippet'>Create</a>
              </div>
            </div>
            <div class='clearfix'></div>
          </div>
        </div>
      </div>
       <a href='' ng-click='startAdd()' ng-hide='adding || editingAny()' class='btn btn-success pull-right' title='Add a new Snippet'>Add</a>
    </div>
  </div>
</div>