<div id='footer'>
  <div class='container'>
    <p class='muted credit'>Created By&nbsp;
      <%= link_to('Matt Payne Consulting', 'http://mattpayne.ca', title: 'Matt Payne Consulting', target: '_blank') %>
    </p>
  </div>
</div>