<div id='validation-legend'>
  <span class='label label-valid'>&#x2713; (Valid)</span>
  <span class='label label-invalid'>&#x21; (Invalid)</span>
  <span class='label label-required'>* (Required)</span>
</div>