<div ng-controller='SettingsController'>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      Settings
    </div>
    <div class='panel-body'>
      <div ng-class='resultClasses()' ng-if='hasResult()'>
        <button class="close" ng-click='resetResult()'>×</button>
        <ul>
          <li ng-repeat='message in getMessages()'>{{ message }}</li>
        </ul>
      </div>
      <ul class='list-group'>
        <li class='list-group-item' ng-hide='settings.length > 0'>There are no settings at the moment.</li>
        <li ng-repeat='setting in settings | orderBy:key:false' class='list-group-item'>
          <span>{{ setting.key }} = {{ setting.value || 'Not set' }} ({{ setting.description || 'No description' }})</span>
          <a href='' ng-click='edit($index)' title='Edit this setting' ng-disabled='deleting($index) || adding' ng-hide='editing($index)' class='btn btn-default pull-right'>Edit</a>
          <div class='clearfix'></div>
          <div ng-show='editing($index)' class='spacer5'>
            <div class='panel panel-default'>
              <div class='panel-heading'>Edit Setting: {{ setting.key }}
                <button type="button" class="close" aria-hidden="true" ng-click='cancelEditing($index)', title='Cancel editing'>&times;</button>
              </div>
              <div class='panel-body'>
                <div class='form-group'>
                  <input type='text' name='setting_value' id='value' placeholder='Value' ng-model='setting.value' class='form-control' />
                </div>
                <div class='pull-right'>
                  <div class='form-group'>
                    <a href='' ng-click='update($index)' ng-disabled='!valueIsValid($index)' class='btn btn-success btn-xs' title='Update this Setting'>Update</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>