<div class='panel panel-default' ng-controller='ChangePasswordController'>
  <div class='panel-heading'>
    Your Password
  </div>
  <div class='panel-body'>
    <div ng-class='resultClasses()' ng-if='hasResult()'>
        <button class="close" ng-click='resetResult()'>×</button>
        <ul>
          <li ng-repeat='message in getMessages()'>{{ message }}</li>
        </ul>
      </div>
    <form name='change_password_form'>
      <div class='form-group'>
        <div class='controls col-lg-12'>
          <div class='input-group'>
            <input type='password'
                   ng-model='password'
                   class='form-control'
                   ng-minlength='6'
                   required autocomplete='off'
                   name='password'
                   placeholder='New password (at least 6 characters)' />
            <%= bootstrap_input_groups_for_validation(form: 'change_password_form', field: 'password') %>
          </div>
        </div>
      </div>
      <div class='form-group'>
        <div class='controls col-lg-12'>
          <div class='input-group'>
           <input type='password'
                  ng-model='password_confirmation'
                  class='form-control'
                  ng-minlength='6'
                  match='password'
                  required
                  autocomplete='off'
                  name='password_confirmation'
                  placeholder='Type your new password again' />
            <%= bootstrap_input_groups_for_validation(form: 'change_password_form', field: 'password_confirmation') %>
          </div>
        </div>
      </div>
    </form>
    <div class='pull-right spacer5'>
      <button class='btn btn-success' ng-click='updatePassword()'
              ng-disabled='change_password_form.$invalid || change_password_form.$pristine'>Update Password</button>
    </div>
  </div>
</div>