<div ng-controller='OrganizationsController'>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      Organizations
    </div>
    <div class='panel-body'>
      <div ng-class='resultClasses()' ng-show='hasResult()'>
        <button class="close" ng-click='resetResult()'>×</button>
        <ul>
          <li ng-repeat='message in getMessages()'>{{ message }}</li>
        </ul>
      </div>
      <ul class='list-group'>
        <li class='list-group-item' ng-hide='organizations.length > 0'>You have not created any organizations yet.</li>
        <li ng-repeat='organization in organizations | orderBy:name:false' class='list-group-item'>
          <span>{{ organization.name }}</a>
          <div class='pull-right'>
            <a href='' ng-click='edit($index)' title='Edit this organization' ng-disabled='deleting($index) || adding' ng-hide='editing($index)' class='btn btn-default'>Edit</a>
            <a href='' ng-click='destroy($index)' title='Delete this organization' ng-disabled='deleting($index) || adding' ng-hide='editing($index)' class='btn btn-danger'>Delete</a>
          </div>
          <div class='clearfix'></div>
          <div ng-show='editing($index)' class='spacer5'>
            <div class='panel panel-default'>
              <div class='panel-heading'>Edit Organization: {{ organization.name }}
                <button type="button" class="close" aria-hidden="true" ng-click='cancelEditing($index)', title='Cancel editing'>&times;</button>
              </div>
              <div class='panel-body'>
                <div class='form-group'>
                  <input type='text' name='organization_name' id='name' placeholder='Name' ng-model='organization.name' class='form-control' />
                </div>
                <div class='form-group'>
                  <a href='' ng-click='update($index)' title='Update this Organization' ng-disabled='!organizationIsValid($index)' class='btn btn-success btn-xs'>Update</a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div ng-show='adding'>
        <div class='panel panel-default'>
          <div class='panel-heading'>Create an Organization
            <button type="button" class="close" aria-hidden="true" ng-click='stopAdd()', title='Cancel add'>&times;</button>
          </div>
          <div class='panel-body'>
            <div class='form-group'>
              <input type='text' name='name' id='name' placeholder='Organization name' ng-model='organizationName' required class='form-control' />
            </div>
            <div class='form-group'>
              <div class='pull-right'>
                <a href='' ng-click='create()' ng-disabled='!newOrganizationIsValid()' class='btn btn-success btn-xs' title='Create this Organization'>Create</a>
              </div>
            </div>
            <div class='clearfix'></div>
          </div>
        </div>
      </div>
       <a href='' ng-click='startAdd()' ng-hide='adding || editingAny()' class='btn btn-success pull-right' title='Add a new Organization'>Add</a>
    </div>
  </div>
</div>