<div ng-controller='ReportTemplatesController'>
<div class='panel panel-default'>
  <div class='panel-heading'>
    Report Templates
  </div>
  <div class='panel-body'>
    <div ng-class='resultClasses()' ng-show='hasResult()'>
      <button class="close" ng-click='resetResult()'>×</button>
      <ul>
        <li ng-repeat='message in getMessages()'>{{ message }}</li>
      </ul>
    </div>
    <div id="template-tags">
      <%= render partial: "user_tags/index", locals: {tagType: 'template'} %>
    </div>
      <ul class='list-group'>
        <li ng-hide='reportTemplates.length > 0' class='list-group-item'>Please select one or more tags to filter your templates.</li>
        <li ng-repeat='report_template in reportTemplates | orderBy:name:false' class='list-group-item'>
          <span>{{ report_template.name }}</span>
          <div class='pull-right'>
            <div class='btn-group'>
              <button type="button" data-toggle='dropdown' class='btn btn-default dropdown-toggle'>Export
                <span class='caret'></span>
              </button>
              <ul class='dropdown-menu'>
                <li>
                  <%= link_to('Export to Word', export_path(:report_template, :doc) + '/{{ report_template.id }}')%>
                </li>
                <li>
                  <%= link_to('Export to PDF', export_path(:report_template, :pdf) + '/{{ report_template.id }}') %>
                </li>
              </ul>
            </div>
            <button type='button' title='Edit this report template' ng-disabled='deleting($index)' class='btn btn-default' ng-click='edit($index)'>Edit</button>
            <button type='button' ng-click='destroy($index)' ng-disabled='deleting($index)' title='Delete this report template' class='btn btn-danger'>Delete</button>
          </div>
          <div class='clearfix'></div>
        </li>
      </ul>
      <button type='button' title='Create a new report template' ng-click='add()' class='btn btn-success pull-right'>Add</button>
  </div>
</div>
</div>