<div class='panel panel-default'>
  <div class='panel-heading'>Template Information</div>
  <div class='panel-body'>
    <div class='form-horizontal'>
      <div class='row'>
        <div class='col-lg-12'>
          <label for='name' class='control-label'>Template Name</label>
        </div>
      </div>
      <div class='row'>
        <div class='col-lg-12'>
          <input type='text' name='name' id='name' ng-model='reportTemplate.name' placeholder='Name this template' class='form-control' required />
        </div>
      </div>
      <div class='row'>
        <div class='col-lg-12'>
          <label class='control-label'>Tags</label>
        </div>
      </div>
      <div class='row'>
        <div class='col-lg-12'>
          <input style='width:100%' type='text' ng-model='reportTemplate.tags' bs-tags-input bs-tags-typeahead='queryTags'  />
        </div>
      </div>
      <div class='row'>
        <div class='col-lg-12'>
          <label for='description' class='control-label'>Description</label>
        </div>
      </div>
      <div class='row'>
        <div class='col-lg-12'>
          <textarea id='description' name='description' ng-model='reportTemplate.description' placeholder='Description' class='form-control' rows='6'></textarea>
        </div>
      </div>
      <div class='row'>
        <div class='col-lg-12 spacer5'>
          <button ng-disabled='report_template_form.$invalid' ng-click='save()' class='btn btn-success form-control' title='Save this report template'>Save</button>
        </div>
      </div>
    </div>
  </div>
</div>