<div ng-controller='ReportsController'>
<div class='panel panel-default'>
  <div class='panel-heading'>
    Reports
  </div>
  <div class='panel-body'>
      <ul class='list-group'>
        <li ng-hide='reports.length > 0' class='list-group-item'>You have not created any reports.</li>
        <li ng-repeat='report in reports | orderBy:name:false' class='list-group-item'>
          <span>{{ report.name }}</span></span>
          <div class='pull-right'>
            <div class='button-group'>
              <button type="button" data-toggle='dropdown' class='btn btn-default dropdown-toggle'>Export
                <span class='caret'></span>
              </button>
              <ul class='dropdown-menu'>
                <li>
                  <%= link_to('Export to Word', export_path(:report, :doc, @report))%>
                </li>
                <li>
                  <%= link_to('Export to PDF', export_path(:report, :pdf, @report)) %>
                </li>
              </ul>
            </div>
            <%= link_to('Edit', edit_report_path(@report), title: 'Edit this report', class: 'btn btn-default') %>
            <a href='' ng-click='destroy($index)' ng-disabled='deleting($index)' title='Delete this report' class='btn btn-danger'>Delete</a>
          </div>
          <div class='clearfix'></div>
        </li>
      </ul>
      <%= link_to('Add', new_report_path, title: 'Create a new report', class: 'btn btn-success pull-right') %>
  </div>
</div>
</div>