<ol class='breadcrumb'>
  <li>
    <%= link_to('Dashboard', dashboard_path) %>
  </li>
  <li class='active'>
    {{ getBreadcrumb() }}
  </li>
</ol>
<div ng-class='resultClasses()' ng-if='hasResult()'>
      <button class="close" ng-click='resetResult()'>×</button>
      <ul>
        <li ng-repeat='message in getMessages()'>{{ message }}</li>
      </ul>
</div>
<form novalidate name='report_form'>
  <div class='row'>
    <div class='col-md-2'>
        <%= render partial: 'report_settings' %>
    </div>
    <div class='col-md-10'>
      <div class='row'>
        <h3 class='first'>Header</h3>
        <textarea ng-model='report.header' redactor options='redactorHeaderOptions' name='header'></textarea>
      </div>
      <div class='row'>
        <h3>Content</h3>
        <textarea ng-model='report.content' redactor options='redactorOptions' name='content' required></textarea>
      </div>
      <div class='row'>
        <h3>Footer</h3>
        <textarea ng-model='report.footer' redactor options='redactorFooterOptions' name='footer'></textarea>
      </div>
    </div>
  </div>
</form>
<div id='clipsmodal' class='hidden'>
    <ul class='list-group snippet-list'>
      <li ng-if='snippets.length == 0' class='list-group-item'>You have not created any snippets yet.</li>
      <li ng-show='snippets.length > 0' ng-repeat='snippet in snippets' class='list-group-item'>
        <a href='' class='redactor_clip_link'>{{ snippet.name }}</a>
        <pre ng-bind-html='snippet.content'></pre>
      </li>
    </ul>
</div>