<div ng-controller='UserTagsController' ng-init="init('<%= tagType %>')">
  <select ui-select2='uiSelect2Options' ng-model='selectedTags'
        multiple
        data-placeholder="Choose one or more tags"
        ng-change='applyFilter()'>
        <option value=""></option>
        <option ng-repeat="tag in tags | orderBy:'toString()'" value='{{ tag }}'>{{ tag }}</option>
  </select>
</div>