<div ng-controller='UserTagsController' ng-init="init('<%= tagType %>')">
  <select report-it-chosen style='width:25%;'
        chosen="tags"
        multiple
        data-placeholder="Choose one or more tags"
        ng-model="selectedTags"
        ng-change='applyFilter()'
        ng-options="tag for tag in tags">
</select>
</div>